<html>
   <body>
      <h1>Router Config CATCHER</h1>
      {% if save %}
        <h2>{{ save }}</h2>
      {% endif %}

      <form action = "/compare" method = "POST">
         <!-- <p>OS <input type = "text" name = "os" /></p> -->
         <p>OS <input type="text" name="os" value={{ result.os}} /></p>
         <p>Address <input type = "text" name = "addr" value={{ result.addr }} /></p>
         <p>User Name <input type ="text" name = "name" value={{ result.name }} /></p>
         <p>Password <input type = "text" name = "pass" value={{ result.pass }} /></p>
         {% if result.port %}
            <p>Port <input type ="text" name = "port" value={{ result.port }} /></p>
         {% endif %}
         追加設定</br>
         <textarea name="config" rows="10" cols="30"></textarea></br>
         <input type="file" name="config" />
         <p><input type = "submit" value = "submit"  required /></p>
      </form>
      <a href="/"><button type="button">戻る</button></a>
   </body>
</html>
