<html>
   <body>
       <h1> ROUTER CONFIG RESULT </h1>
        {% if config %}
          <form action="/save" method="post">
            <textarea name="config" rows="50" cols="200" placeholder={{ config }}>{{ config }}</textarea>
            <p>FileName <input type = "text" name = "file"  required /></p>
            <p><input type="submit" value="保存"/></p>
          </form>
        {% endif %}
        <a href="form"><button type="button">戻る</button></a>
        <form action="/add" method="post">
            <input type="hidden" name="os" value={{ result.os }} />
            <input type="hidden" name="addr" value={{ result.addr }} />
            <input type="hidden" name="name" value={{ result.name }} />
            <input type="hidden" name="pass" value={{ result.pass }} />
            {% if result.port %}
                <input type="hidden" name="port" value={{ result.port }} />
            {% endif %}
            <input type="submit" value="追加設定" />
        </form>
   </body>
</html>
